<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Kwora</title>
    </head>
    <body>
        <div class="container">
            <h1>Kwora - a virtual place for bakar questions </h1>
            {% for question in questions %}
            <div>
                <h2><a href="#">{{ question.title }}</a></h2>
                <p>Posted at: {{ question.created_at }}</p>
                <p>{{ question.description }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
